<div id="current">
    <div class="img-container">
        <div *ngFor='let movie of this.list.movies' class="movie">
            <p>{{movie.title}}</p>
        </div>
        <img *ngIf="this.currentMovie.poster != 'N/A'" class="album-art" src="{{ this.currentMovie.poster }}">
        <img *ngIf="this.currentMovie.poster == 'N/A'" class="album-art" src=" assets/img/notFound.png ">
        <button type="button" (click)="prevMovie()">PREV</button>
        <button type="button" (click)="nextMovie()">NEXT</button>
    </div>