@font-face {
    font-family: york-whiteletter;
    src: url(../../../../../assets/fonts/YorkWhiteletter/yorkwhiteletter.ttf) format("opentype");
}

#navbar-container {
    background-color: #FF6633;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    height: 70px;
    box-shadow: 0 8px 6px -6px black;
}

#navbar-logo {
    font-family: 'york-whiteletter', 'arial';
    font-size: 2em;
    color: #900C3F;
    margin-top: -20px;
}

#navbar-brand {
    margin-top: 10px;
    flex: 0 0 150px;
}

#navbar-content {
    flex: 0 0 150px;
}

#save-button {
    background-image: url(/assets/img/icons8-save-as-50.png);
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    cursor: pointer;
    margin-top: 10px;
}

#save-button:hover {
    background-image: url(/assets/img/icons8-save-as-50-hover.png);
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
}

#counter-container {
    background-image: url(/assets/img/icons8-bulleted-list-50.png);
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    cursor: pointer;
    margin-top: 10px;
}

#counter {
    vertical-align: bottom;
}

#counter-container:hover {
    background-image: url(/assets/img/icons8-bulleted-list-50-hover.png);
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
}

#counter {
    border-radius: 50%;
    /* remove if you don't care about IE8 */
    width: 10px;
    height: 10px;
    padding: 1px;
    background: #dde9ea;
    border: 2px solid #137d83;
    color: #666;
    text-align: center;
    font: 10px Arial, sans-serif;
    float: right;
    margin-top: 2px;
}

#searchbox-container {
    height: 100%;
    width: 100%;
    margin-top: 5px;
}

#searchbox {
    margin-top: 5px;
    height: 60%;
}