<div *ngIf='selectionMade' id="songs-container">
    <div *ngFor='let result of results' class="movie">
        <div class="movie-element-container">
            <div class="img-container">
                <img *ngIf="result.Poster != 'N/A'" class="album-art" src="{{ result.Poster }}">
                <img *ngIf="result.Poster == 'N/A'" class="album-art" src=" assets/img/notFound.png ">
            </div>
            <div class="text-content">
                <p class="song-name">
                    {{ result.Title }}
                </p>
                <p class="album-name">
                    {{ result.Year }}
                </p>
                <div class="fav-button">
                    <img *ngIf='result.inList' src="assets/img/plus-box.png" (click)="toList(result)">
                    <img *ngIf='!result.inList' src="assets/img/plus.png" (click)="toList(result)">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf='searchMoreOption' id="searchMoreButton">
        <button type="button" (click)="searchMore()">
            <img src="assets/img/plus.png">
            </button>
    </div>
</div>