@font-face {
    font-family: shoking-headline;
    src: url(../../../../assets/fonts/Shocking.otf) format("opentype");
}

#songs-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie {
    flex: 0 0 80%;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    padding: 0%;
    height: 325px;
}

.text-content {
    font-family: 'shoking-headline';
    font-size: 2em;
}

.movie-element-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.img-container {
    width: 219px;
    height: 325px;
    overflow: hidden;
}

.album-art {
    width: 219px;
    height: 325px;
}

#searchMoreButton {
    display: block;
}